body {
    background-image: url(bilder/textur1.jpg.webp);
}

.flexbox4 {
    background-color: #808080;
    color: #fff;
    height: 120px;
    width: 100%;
    text-align: center;
    font-size: 100px;
    font-family:arial;
    font-weight: 600;
    border-radius: 10px;
    border-style: double;
    border-color: #505050;
}
.container {
    display: flex;
}
.item {
    padding: 10px 20px;
    background-color: #909090;
    height: 1000px;
}

.item-1 {
    flex: 10%;
    background-image: url(Bilder/textur1.jpg.webp);
}
.item-2 {
    flex: 80%;
}
.item-3 {
    flex: 10%;
    background-image: url(bilder/textur1.jpg.webp);
}

.h1 {
    font-size: 50px;
    font-family: Cambria;
    color:#303030;
    text-decoration:underline;
    text-align: center;
}
.li {
    color: black;
    font-size: 25px;
    font-family: arial;
    text-indent: 90px;
}

.flexbox1 {
    background-color: #5e5e5e;
    width: 70px;
    height: 25px;
    border: 3px solid;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
}

.li1 {
    color: #fff;
    font-size: 20px;
    font-family: arial;
}